# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/

# Migrations (giữ lại __init__.py)
**/migrations/*
!**/migrations/__init__.py

# Environment variables
.env
.env.local

# VS Code
.vscode/

# macOS
.DS_Store

# Testing / coverage
.coverage
htmlcov/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Node (nếu sau này dùng frontend)
node_modules/

# IDEs
.idea/
